body {
  font-family: Lato;
}

.black {
  background-color: black;
  color: white;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  padding-left: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.flex {
  flex: 1 1 auto;
}

.align-start {
  align-self: flex-start;
}

.poster {
  border: solid white 2px;
  margin: 2px;
}

.app {
  display: flex;
  flex-direction: column;
}

button {
  width: 10%;
  margin: 15px 0;
  align-self: center;
}
